h1 {
  text-align: center;
  color: #196079;
  font-family: Verdana;
  background-color: #E0E0E0;
  border-bottom:solid 7px #FF5733;
  padding:20px;
}

h2, h3 {
  text-align: center;
  color: #196079;
  font-family: Verdana;
}

p{
  text-align: justify;
  font-family: Georgia;
}

.flushright{
  text-align: right;
  font-family: Georgia;
}

.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}